@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;800&display=swap");
body {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
}
$blue: #6f42c1;
$orange: #f26c22;

$primary: $blue;
$secondary: $orange;

.nav-item {
  a {
    color: #268bd2;
    transition: all 0.5s;
    &:hover {
      text-decoration: none;
      text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: .2), 1px 2px 1.2px rgba($color: #000000, $alpha: .4);
      font-weight: 800;
      transition: all 10.5;
    }
  }
  .router-link-exact-active {
    color: $blue;
  }
}
.card-body{
  background-color: hsla(74, 64%, 59%, 0.2)
}
