<template>
  <section class="select-email container">
    <div class="row">
      <div class="col-lg-12">
        <form id="userData" @submit.prevent="emailAutocomplete" method="post">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Input text without @{{ emailProvider }}.com </label>
            <input
              type="text"
              name="email"
              class="form-control"
              id="inputEmail"
              v-model="emailAccount"
            />
          </div>
          <div class="form-group col-md-12">
          <button type="submit" class="btn btn-primary">Save email</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      emailAccount: null,
      error: "no input data",
      emailProvider: null
    };
  },
  created(){
    this.$route.params.emailType ? (this.emailProvider = this.$route.params.emailType ) : ''
  },
  methods: {
    emailAutocomplete() {
      if (this.emailProvider) {
        let userEmail = ` ${this.emailAccount}@${this.emailProvider}`;
        this.$router.push({ name: "add-user", params: { email: userEmail } });
      }
    }
  }
};
</script>
