<template>
  <div class="home">
    <HelloWorld msg="Welcome to the best Vue.js App ever"/>
    <div class="container">
      <div class="row">
        <div class="col">
          <UserCard />
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import HelloWorld from '@/components/HelloWorld.vue'
import UserCard from '@/components/UserCard.vue'


export default {
  name: 'Home',
  components: {
    HelloWorld,
    UserCard
  }
}
</script>
