<template>
  <section>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          :email="email"
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never never share your email with anyone else.</small
        >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          :pass="pass"
        />
      </div>

      <button type="submit" class="btn btn-primary" @click.prevent="logMeIn">Submit</button>
    </form>
  </section>
</template>

<script>
export default {
    name: "AreaLoginForm",
    data() {
      return {
          email: 'admin@admin.com',
          pass: 'password'
      }
    },
    methods: {
      logMeIn() {
        return true
      }
    },
}
</script>

<style lang="scss" scoped></style>
