<template>
  <div class="hello">
    <div class="hello">
      <div class="jumbotron">
        <h1 class="display-4">{{ msg }}</h1>
        <p class="lead">
          This is a simple hero unit, a simple jumbotron-style component for
          calling extra attention to featured content or information.
        </p>
        <hr class="my-4" />
        <!-- <button type="button" class="btn btn-dark" @click="test">Get stuff</button> -->
      </div>
    </div>

  </div>
</template>

<script>
// import { mapState } from "vuex";

export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  data() {
    return {
      // test: []
    };
  },
  methods: {
    // test(){
    //    return this.$store.state.fakeData
    // }
  },
  // mounted() {
  //   this.$store.dispatch("getData");
  // },
  // computed: mapState({
  //   fakeData: state => state.fakeData
  // })
};
</script>