<template>
  <section class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Edit the user with guid {{ $route.params }}</p>
      </div>
      <div class="col-lg-12">
        <form id="userData" @submit.prevent="checkForm" method="post">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputName">Name</label>
              <input
                type="text"
                name="name"
                id="userName"
                class="form-control"
                v-model="userId.name.first"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputName">Surename</label>
              <input
                type="text"
                name="surename"
                id="userSurename"
                class="form-control"
                v-model="userId.name.last"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="inputEmail4"
                v-model="userId.email"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputName">Company</label>
              <input
                type="text"
                name="company"
                id="company"
                class="form-control"
                v-model="userId.company"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input
              type="text"
              name="address"
              class="form-control"
              id="inputAddress"
              v-model="userId.address"
            />
          </div>

          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "UserEdit",
  data() {
    return {
      newUserData:{
        name:{
          first: null,
          last: null
          },
        email: null,
        company: null,
        address: null
      }
    }
  },
  created() {
    this.newUserData = this.userId
    console.log('from component', this.newUserData);
  },
  computed: {
    ...mapGetters(["getUserId"]),
    userId() {
      return this.getUserId(this.$route.params.id);
    }
  },
  methods: {
    ...mapActions(["updateUser"]),
    checkForm(e) {
      this.updateUser(this.newUserData)
    }
  }
};
</script>
