<template>
<div class="card-holder">
  <div class="card w-25 ml-1 mr-1 mb-3" v-for="user in getUserData" :key="user._id">
     
    <img :src="user.img" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ user.name }}</h5>
      <p class="card-text">
         {{ user.about }}

        <!-- <p v-for="friend in user.friends"> {{ friend }} </p> -->
      </p>

      <router-link :to="{
        name: 'user',
        params: { name:user.name ,id: user.uid }
      }"> {{user.name}} details</router-link>
      <router-link :to="{
        name: 'edit-user',
        params: { id: user.uid }
      }"> Edit user</router-link>

    </div>
  </div>
</div>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from 'vuex'
// import UserDetails from './UserDetails.vue'

export default {
  name: "UserCard",
  created(){
      this.$store.dispatch('getData')
  },
  computed: {
      ...mapGetters(['getNames', 'getUserData']),
  },
};
</script>
<style lang="scss" scoped>
    .card-holder{
        display: flex;
        flex-flow: row wrap;
    }
    .card.user-card{
        width:20%;
        max-width: 25%;
    }
</style>