<template>
  <section class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-secondary font-weight-bolder">Add new user</h2>
      </div>
    </div>
    <div class="row" v-if="!hasEmail">
      <div class="form-group col-lg-6">
          <button type="submit" class="btn btn-success" @click="goToEmail('gmail')">Do you have gmail account?</button>
      </div>
      <div class="form-group col-lg-6">
        <button type="submit" class="btn btn-danger" @click="goToEmail('yahoo')">Do you have yahoo account?</button>
      </div>
    </div>
    <div class="row" >
      <div class="col-lg-12" v-if="hasEmail">
        <form id="userData" @submit.prevent="createUser" method="post">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputName">Name</label>
              <input
                type="text"
                name="name"
                id="userName"
                class="form-control"
                v-model="newUserDetails.name.first"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputName">Surname</label>
              <input
                type="text"
                name="surename"
                id="userSurname"
                class="form-control"
                v-model="newUserDetails.name.last"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputName">Company</label>
              <input
                type="text"
                name="company"
                id="company"
                class="form-control"
                v-model="newUserDetails.company"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input
              type="text"
              name="address"
              class="form-control"
              id="inputAddress"
              v-model="newUserDetails.address"
            />
          </div>
          <button type="submit" class="btn btn-primary">Save user</button>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: "UserAddNewUser",
  data() {
    return {
      newUserDetails: {
        _id:  null,
        name: {
          first: null,
          last: null
        },
        email: null,
        company: null,
        address: null,
        guid: null,
        about: "New user from the void",
        picture: "http://placehold.it/32x32",
        registered: "Wednesday, February 15, 2021 9:19 AM",
      },
      hasEmail: false
    }
  },
  computed: {
    // ...mapActions(['addUser'])
  },
  created(){
    this.$route.params.email ? this.setNewEmail() : ''
  },
  methods: {
    makeGuid(length) {
      // stack overflow shameless copy-paste
      var result = "";
      var characters =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      var charactersLength = characters.length;
      for (var i = 0; i < length; i++) {
        result += characters.charAt(
          Math.floor(Math.random() * charactersLength)
        );
      }
      return result;
    },
    createUser() {
      let newGuid = `${this.makeGuid(8)}-${this.makeGuid(4)}-${this.makeGuid(4)}-${this.makeGuid(12)}`;
      let newId = `${this.makeGuid(24)}`
      this.newUserDetails.guid = newGuid
      this.newUserDetails._id = newId
      this.$store.dispatch('addUser', this.newUserDetails)
      setTimeout(()=>{
        this.$router.push('/')
      }, 1000)
      
    },
    setNewEmail(){
      this.hasEmail = true
      this.newUserDetails.email = this.$route.params.email
    },
    goToEmail(item){
      this.$router.push({ name: "add-email", params: { emailType: item } })
    }
  }
};
</script>
