<template>
  <section class="container">
    <div class="row">
      <p class="text-secondary">route params: {{ $route.params }} </p>
    
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ userId.about }}</li>
        <li class="list-group-item">{{ userId.address }}</li>
        <li class="list-group-item">{{ userId.age }}</li>
        <li class="list-group-item">{{ userId.company }}</li>
        <li class="list-group-item">{{ userId.email }}</li>
        <li class="list-group-item">{{ userId.phone }}</li>
      </ul>
    </div>
    
    </section>
</template>


<script>
import {mapGetters} from 'vuex'

export default {
  name: "UserDetails",
  created() {
    this.$store.dispatch("getData");
  },
  computed: {
    ...mapGetters(['getUserId']),
    userId(){
        return this.getUserId(this.$route.params.id)
    }
  }
};
</script>
