<template>
  <section>
    area view
    <AreaFityTwo /> 
    <div class="container" v-show="!isLogged">
        <div class="row">
            <AreaLoginForm />
        </div>
    </div>
  </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import AreaFityTwo from "@/modules/UserData/components/AreaFityTwo.vue"
import AreaLoginForm from '@/modules/UserData/components/AreaLoginForm.vue';

export default {
  name: "AreaHome",
  components: {
      AreaFityTwo,
      AreaLoginForm,
      },
  data() {
      return {
          isLogged: null,
      }
  },
  created () {
      this.setStatus
  },
  computed: {
      ...mapGetters('UserModule',['getLoggedStatus']),
        isLoggedIn() {
            return this.isLogged = this.getLoggedStatus
        }
  },
  methods: {
      ...mapActions('UserModule', ['setLoggedStatus']),
      setStatus(){
          let newStatus = false
          this.updateUser(newStatus)
      }
  },
}
</script>
