<template>
  <div id="app">
    <div id="nav">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <router-link to="/">Home</router-link> | 
          <router-link to="/add-user">Add new user</router-link> | 
          <router-link to="/page-1"> Page one from em-module</router-link> |
          <router-link to="/page-2"> Page two from em-module</router-link> |
          <router-link to="/area-home" >Secure page</router-link>
        </li>
      </ul>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
  @import './assets/style/style.scss';
</style>
<script>
import bootstrap from 'bootstrap/dist/css/bootstrap.min.css'
export default {
  bootstrap
}
</script>
